@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F1A;
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0F0F1A;
}

::-webkit-scrollbar-thumb {
  background: #2A2A3E;
  border-radius: 3px;
}
